@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap');
:root {
  --light-pink: #fff4ed;
  --brown: #c19b7c;
  --dark-brown: #8f5e36;
  --orange: #ffbf90;
  --dark-orange: #ffa269;
  --white: #f4f4f4;
  --gray: #eeeeee;
  --medium-gray: #ebded5;
  --dark-gray: #666;
  --title-font: 'Athiti', sans-serif;
  --main-font: 'Montserrat', sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100%;
  font-family: var(--main-font);
  color: var(--dark-gray);
  background-color: var(--white);
}

h1, h3 {
  padding-bottom: 1.3rem;
  font-family: var(--title-font);
  color: var(--dark-orange);
  font-size: 2.3rem;
  line-height: 1.7rem;
}

h2 {
  padding-bottom: 1rem;
}

h4 {
  padding: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: bolder;
  border-radius: 0 0 .5rem .5rem;
  color: var(--brown);
  background-color: var(--medium-gray);
}

a {
  text-decoration: none;
  color: var(--dark-brown);
  transition: .5s linear;
}

a:hover {
  color: var(--brown);
}

a:visited, a:active {
  color: var(--dark-brown);
}

li {
  padding: .5rem 0 0 2rem;
  list-style-position: outside;
}

button {
  padding: .9rem;
  font-family: var(--main-font);
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: .5rem;
  transition: .5s linear;
  color: var(--light-pink);
  background-color: var(--orange);
}

button:hover {
  color: var(--light-pink);
  background-color: var(--brown);
}

.products-icons img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 3rem;
  margin-bottom: 0.2rem;
  border-radius: .5rem .5rem 0 0;
  background-color: var(--orange);
  transition: .8s linear;
}

.products-icons img:hover {
  background-color: var(--brown);
}

.specifications-content {
  display: flex;
  flex-direction: column;
}

.specifications-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.specifications img {
  transition: .6s linear;
}

.contact-content img {
  width: 5%;
  padding: .8rem .5rem 0 0;
  transition: .5s linear;
}

.contact-content img:hover {
  opacity: 70%;
}

footer {
  padding: 1rem;
  font-size: .5rem;
  text-align: center;
  background-color: var(--light-pink);
}
